@mixin clearfix {
    &::after {
        //always specify the content
        content: "";
        display: table;
        clear: both;
    }
}

@mixin absCenter {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


// Media Query Manager

/*
0 -600px PHONE
600 - 900px: Tablet Portrait
900 - 1200px: Tablet Landscape
[1200 - 1800]: Where normal styles apply
1800px: Big Desktop
*/

// This allows us to pass a block of code into the mixin, found in the base.scss doc

/*

$breakpoint arguement choices:
- phone 
- tab-port
- tab-land
- big-desktop

1em = 16px

*/

/* rems fail to work as intended in some browsers, and ems are the best options for media queries

Conversion from pixels to ems (and not rems because some browsers fail to recognize them). We're making the conversion because if someone were to change their font size in the browser, pixels would not be the best option for them (as the pixels stay the same, but the font size is different).

@mixin respond($breakpoint) {
@if $breakpoint == phone {
    @media (max-width: 600px) { @content };
}

@if $breakpoint == tab-port {
    @media (max-width: 900px) { @content };
}

@if $breakpoint == tab-land {
    @media (max-width: 1200px) { @content };
}

@if $breakpoint == big-desktop {
    @media (min-width: 1800px) { @content };
}
}

*/

@mixin respond($breakpoint) {
    @if $breakpoint == phone {
        @media (max-width: 37.5em) { @content };  //600px
    }
    
    @if $breakpoint == tab-port {
        @media (max-width: 56.25em) { @content };  //900px
    }
    
    @if $breakpoint == tab-land {
        @media (max-width: 75em) { @content };  //1200px
    }
    
    @if $breakpoint == big-desktop {
        @media (min-width: 112.5em) { @content }; //1800px
    }
    }